@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .h1 {
        @apply text-2xl mt-5 mb-5 font-black text-center uppercase sm:text-4xl;
    }
    .prose p{
        @apply mb-5;
        line-height: 32px;
    }
    .item-nav {
        @apply sm:bg-slate-300 sm:border-slate-400 dark:sm:border-slate-700 dark:sm:bg-slate-800 sm:rounded-full sm:border-4
        sm:hover:bg-slate-200 dark:sm:hover:bg-slate-700 hover:scale-105;
    }
    .link-nav{
        @apply block sm:p-5 ;
    }
    .icon-nav{
        @apply w-8 h-8 sm:w-12 sm:h-12 fill-slate-400 dark:fill-slate-300;
    }
}
@layer components{
    .img-portfolio {
        @apply h-auto max-w-full rounded-lg;
    }
    .img-override {
        @apply opacity-0 px-2 rounded-lg justify-center hover:opacity-100 absolute top-0 bg-slate-950 text-white w-full h-full flex flex-col;
    }
    .img-override h3 {
        @apply text-center p-5 font-bold;
    }
    .img-override p {
        @apply text-sm;
    }
}

.a-propos main{
    justify-content: normal ;
}

html::-webkit-scrollbar {
    width: 2rem;
    background-color:
            rgba(0,0,0,.15);
}
html::-webkit-scrollbar-thumb {
    background: #a8a29e;
}
/* scrollbar styling standard version */
html {
    scrollbar-color: #cbd5e1
            rgba(203, 213, 225, .4);
    scrollbar-width: thin;
}

html.dark::-webkit-scrollbar {
    width: 2rem;
    background-color:
            rgba(12,00,99,.15);
}
html.dark::-webkit-scrollbar-thumb {
    background: #000000
}
/* scrollbar styling standard version */
html.dark {
    scrollbar-color:
            #000000
            #475569;
    scrollbar-width: thin;
}
